Basics of Pandas

#Author: Deepak
#Date: 02/Jun/2019

Pandas is built on top of numpy. It is one of the most powerful tool to perform data analysis.
It is used to clean, transform and analyse data.

DataFrame - Pandas extract data from various file format (csv, excel etc) and stores as DataFrame. DataFrame is like a table. With DataFrame, we can perform mathematical operations like average, median , mean etc.

https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

#Installing pandas

conda install pandas

(or)

pip install pandas


One cool tip to run terminal command in Jupyter notebook is add ! before the command. 
Example - !conda install pandas

In [101]:
#Verify if pandas is installed

import pandas as pd
# if there are no errors then pandas is installed successfully.

In [102]:
# Components - Series and DataFrame

#Series - is a column in pandas.

#DataFrame - is a table which can have multiple columns (or you can say a collection of Series).
#DataFrame can be created as a dictionary. Keys in dictionary turn into columns and values turn to column values.

players_score = {'Sachin' : [99, 81, 56, 122], 'Rahul' : [101, 88, 92, 126]}
players_df = pd.DataFrame(players_score)

players_df

   Sachin  Rahul
0      99    101
1      81     88
2      56     92
3     122    126

In [103]:
#Adding indexes
players_df = pd.DataFrame(players_score, index = [2009, 2010, 2011, 2012])
players_df

      Sachin  Rahul
2009      99    101
2010      81     88
2011      56     92
2012     122    126

In [104]:
#Location data in DataFrame
players_df.loc[2011]

Sachin    56
Rahul     92
Name: 2011, dtype: int64

In [105]:
#reading data from external source to pandas
#use read_json for json formatted data, 
#use pysqlite3 to read from a database via sql select query using read_sql_query

#Reading a csv file in pandas 
df_file = pd.read_csv('data/SalesRecords.csv', index_col=0)
df_file

,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Region,,,,,,,,,,,,,
Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,NaN,9925,255.28,159.42,2533654.00,1582243.50,951410.50
Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,NaN,5062,651.21,524.96,3296425.02,2657347.52,639077.50
Australia and Oceania,Solomon Islands,Baby Food,Online,C,2/4/2015,547995746,2/21/2015,2974,255.28,159.42,759202.72,474115.08,285087.64
Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27,502.54,2798046.49,2104134.98,693911.51
Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06,90.93,1245112.92,734896.26,510216.66
Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73,56.67,496101.10,343986.90,152114.20
Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70,117.11,1356180.10,772106.23,584073.87
Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,7/12/2011,124,154.06,90.93,19103.44,11275.32,7828.12
Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,8/2/2014,939825713,8/19/2014,4168,109.28,35.84,455479.04,NaN,306097.92
Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,3/1/2017,8263,109.28,35.84,902980.64,296145.92,606834.72
Central America and the Caribbean,Honduras,Household,Offline,H,2/8/2017,522840487,2/13/2017,8974,668.27,502.54,5997054.98,4509793.96,1487261.02
Asia,Mongolia,Personal Care,Offline,C,2/19/2014,832401311,2/23/2014,4901,81.73,56.67,400558.73,277739.67,122819.06
Europe,Bulgaria,Clothes,Online,M,4/23/2012,972292029,6/3/2012,1673,109.28,35.84,182825.44,59960.32,122865.12
Asia,Sri Lanka,Cosmetics,Offline,M,11/19/2016,419123971,12/18/2016,6952,437.20,263.33,3039414.40,1830670.16,1208744.24
Sub-Saharan Africa,Cameroon,Beverages,Offline,C,4/1/2015,519820964,4/18/2015,5430,47.45,31.79,257653.50,172619.70,85033.80
Asia,Turkmenistan,Household,Offline,L,12/30/2010,441619336,1/20/2011,3830,668.27,502.54,2559474.10,1924728.20,634745.90
Australia and Oceania,East Timor,Meat,Online,L,7/31/2012,322067916,9/11/2012,5908,421.89,364.69,2492526.12,2154588.52,337937.60
Europe,Norway,Baby Food,Online,L,5/14/2014,819028031,6/28/2014,7450,255.28,159.42,1901836.00,1187679.00,714157.00
Europe,Portugal,Baby Food,Online,H,7/31/2015,860673511,9/3/2015,1273,255.28,159.42,324971.44,202941.66,122029.78
Central America and the Caribbean,Honduras,Snacks,Online,L,6/30/2016,795490682,7/26/2016,2225,152.58,97.44,339490.50,216804.00,122686.50
Australia and Oceania,New Zealand,Fruits,Online,H,9/8/2014,142278373,10/4/2014,2187,9.33,6.92,20404.71,15134.04,5270.67
Europe,Moldova,Personal Care,Online,L,5/7/2016,740147912,5/10/2016,5070,81.73,56.67,414371.10,287316.90,127054.20
Europe,France,Cosmetics,Online,H,5/22/2017,898523128,6/5/2017,1815,437.20,263.33,793518.00,477943.95,315574.05
Australia and Oceania,Kiribati,Fruits,Online,M,10/13/2014,347140347,11/10/2014,5398,9.33,6.92,50363.34,37354.16,13009.18
Sub-Saharan Africa,Mali,Fruits,Online,L,5/7/2010,686048400,5/10/2010,5822,9.33,6.92,54319.26,40288.24,14031.02
Europe,Norway,Beverages,Offline,C,7/18/2014,435608613,7/30/2014,5124,47.45,31.79,243133.80,162891.96,80241.84
Sub-Saharan Africa,The Gambia,Household,Offline,L,5/26/2012,886494815,6/9/2012,2370,668.27,502.54,1583799.90,1191019.80,392780.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Asia,Turkmenistan,Office Supplies,Online,M,4/23/2013,462405812,5/20/2013,5010,651.21,524.96,3262562.10,2630049.60,632512.50
Middle East and North Africa,Libya,Fruits,Online,L,8/14/2015,816200339,9/30/2015,673,9.33,6.92,6279.09,4657.16,1621.93
Sub-Saharan Africa,Democratic Republic of the Congo,Beverages,Online,C,5/26/2011,585920464,7/15/2011,5741,47.45,31.79,272410.45,182506.39,89904.06
Sub-Saharan Africa,Djibouti,Cereal,Online,H,5/20/2017,555990016,6/17/2017,8656,205.70,117.11,1780539.20,1013704.16,766835.04
Middle East and North Africa,Pakistan,Cosmetics,Offline,L,7/5/2013,231145322,8/16/2013,9892,437.20,263.33,4324782.40,2604860.36,1719922.04
North America,Mexico,Household,Offline,C,11/6/2014,986435210,12/12/2014,6954,668.27,502.54,4647149.58,3494663.16,1152486.42
Australia and Oceania,Federated States of Micronesia,Beverages,Online,C,10/28/2014,217221009,11/15/2014,9379,47.45,31.79,445033.55,298158.41,146875.14
Asia,Laos,Vegetables,Offline,C,9/15/2011,789176547,10/23/2011,3732,154.06,90.93,574951.92,339350.76,235601.16
Europe,Monaco,Baby Food,Offline,H,5/29/2012,688288152,6/2/2012,8614,255.28,159.42,2198981.92,1373243.88,825738.04
Australia and Oceania,Samoa,Cosmetics,Online,H,7/20/2013,670854651,8/7/2013,9654,437.20,263.33,4220728.80,2542187.82,1678540.98
Europe,Spain,Household,Offline,L,10/21/2012,213487374,11/30/2012,4513,668.27,502.54,3015902.51,2267963.02,747939.49
Middle East and North Africa,Lebanon,Clothes,Online,L,9/18/2012,663110148,10/8/2012,7884,109.28,35.84,861563.52,282562.56,579000.96
Middle East and North Africa,Iran,Cosmetics,Online,H,11/15/2016,286959302,12/8/2016,6489,437.20,263.33,2836990.80,1708748.37,1128242.43
Sub-Saharan Africa,Zambia,Snacks,Online,L,1/4/2011,122583663,1/5/2011,4085,152.58,97.44,623289.30,398042.40,225246.90
Sub-Saharan Africa,Kenya,Vegetables,Online,L,3/18/2012,827844560,4/7/2012,6457,154.06,90.93,994765.42,587135.01,407630.41
North America,Mexico,Personal Care,Offline,L,2/17/2012,430915820,3/20/2012,6422,81.73,56.67,524870.06,363934.74,160935.32
Sub-Saharan Africa,Sao Tome and Principe,Beverages,Offline,C,1/16/2011,180283772,1/21/2011,8829,47.45,31.79,418936.05,280673.91,138262.14
Sub-Saharan Africa,The Gambia,Baby Food,Offline,M,2/3/2014,494747245,3/20/2014,5559,255.28,159.42,1419101.52,886215.78,532885.74
Middle East and North Africa,Kuwait,Fruits,Online,M,4/30/2012,513417565,5/18/2012,522,9.33,6.92,4870.26,3612.24,1258.02
Europe,Slovenia,Beverages,Offline,C,10/23/2016,345718562,11/25/2016,4660,47.45,31.79,221117.00,148141.40,72975.60
Sub-Saharan Africa,Sierra Leone,Office Supplies,Offline,H,12/6/2016,621386563,12/14/2016,948,651.21,524.96,617347.08,497662.08,119685.00
Australia and Oceania,Australia,Beverages,Offline,H,7/7/2014,240470397,7/11/2014,9389,47.45,31.79,445508.05,298476.31,147031.74
Middle East and North Africa,Azerbaijan,Office Supplies,Online,M,6/13/2012,423331391,7/24/2012,2021,651.21,524.96,1316095.41,1060944.16,255151.25
Europe,Romania,Cosmetics,Online,H,11/26/2010,660643374,12/25/2010,7910,437.20,263.33,3458252.00,2082940.30,1375311.70
Central America and the Caribbean,Nicaragua,Beverages,Offline,C,2/8/2011,963392674,3/21/2011,8156,47.45,31.79,387002.20,259279.24,127722.96
Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [106]:
#Convert from DataFrame to csv, json or Sql
#to_csv, to_json, to_sql

In [107]:
#Viewing data
df_file.head() #returns the first 5 rows
df_file.tail() #returns last 5 rows

,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Region,,,,,,,,,,,,,
Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [108]:
#Details about data
df_file.info() #no of rows, non null values and data type etc

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, Australia and Oceania to Sub-Saharan Africa
Data columns (total 13 columns):
Country           100 non-null object
Item Type         100 non-null object
Sales Channel     100 non-null object
Order Priority    100 non-null object
Order Date        100 non-null object
Order ID          100 non-null int64
Ship Date         98 non-null object
Units Sold        100 non-null int64
Unit Price        100 non-null float64
Unit Cost         100 non-null float64
Total Revenue     100 non-null float64
Total Cost        99 non-null float64
Total Profit      100 non-null float64
dtypes: float64(5), int64(2), object(6)
memory usage: 10.9+ KB

In [109]:
#Get no of rows and columns
df_file.shape

(100, 13)

In [110]:
df_temp = df_file.append(df_file) #append returns a copy without modifying the actual df_file
df_temp.shape

df_temp = df_temp.drop_duplicates() #returns a copy of DataFrame

df_temp.shape

(100, 13)

In [111]:
#inplace=True modifies the DataFrame object in place

#Keep has three options first, last and False
# first - default, drop duplicates except for the first occurence
# last - drop duplicates except fot the last occurence
# False - Drop all duplicates

df_temp.drop_duplicates(inplace=True, keep=False)
df_temp.shape

(100, 13)

In [112]:
#Read columns

df_file.columns

Index(['Country', 'Item Type', 'Sales Channel', 'Order Priority', 'Order Date',
       'Order ID', 'Ship Date', 'Units Sold', 'Unit Price', 'Unit Cost',
       'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [113]:
#renaming columns

df_file.rename(columns={'Country' : 'CountryName'}, inplace=True)
df_file

#lowercase columns
df_file.columns = [col.lower() for col in df_file]
df_file.columns

Index(['countryname', 'item type', 'sales channel', 'order priority',
       'order date', 'order id', 'ship date', 'units sold', 'unit price',
       'unit cost', 'total revenue', 'total cost', 'total profit'],
      dtype='object')

In [114]:
#Handling missing values
df_file.isnull()

df_file.isnull().sum() #returns the number of nulls in each column

countryname       0
item type         0
sales channel     0
order priority    0
order date        0
order id          0
ship date         2
units sold        0
unit price        0
unit cost         0
total revenue     0
total cost        1
total profit      0
dtype: int64

In [115]:
#Null values can either be deleted or replace with some other value mean or median
df_file.dropna() #removes null, deletes any row with atleast one null value

,countryname,item type,sales channel,order priority,order date,order id,ship date,units sold,unit price,unit cost,total revenue,total cost,total profit
Region,,,,,,,,,,,,,
Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
Australia and Oceania,Solomon Islands,Baby Food,Online,C,2/4/2015,547995746,2/21/2015,2974,255.28,159.42,759202.72,474115.08,285087.64
Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27,502.54,2798046.49,2104134.98,693911.51
Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06,90.93,1245112.92,734896.26,510216.66
Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73,56.67,496101.10,343986.90,152114.20
Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70,117.11,1356180.10,772106.23,584073.87
Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,7/12/2011,124,154.06,90.93,19103.44,11275.32,7828.12
Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,3/1/2017,8263,109.28,35.84,902980.64,296145.92,606834.72
Central America and the Caribbean,Honduras,Household,Offline,H,2/8/2017,522840487,2/13/2017,8974,668.27,502.54,5997054.98,4509793.96,1487261.02
Asia,Mongolia,Personal Care,Offline,C,2/19/2014,832401311,2/23/2014,4901,81.73,56.67,400558.73,277739.67,122819.06
Europe,Bulgaria,Clothes,Online,M,4/23/2012,972292029,6/3/2012,1673,109.28,35.84,182825.44,59960.32,122865.12
Asia,Sri Lanka,Cosmetics,Offline,M,11/19/2016,419123971,12/18/2016,6952,437.20,263.33,3039414.40,1830670.16,1208744.24
Sub-Saharan Africa,Cameroon,Beverages,Offline,C,4/1/2015,519820964,4/18/2015,5430,47.45,31.79,257653.50,172619.70,85033.80
Asia,Turkmenistan,Household,Offline,L,12/30/2010,441619336,1/20/2011,3830,668.27,502.54,2559474.10,1924728.20,634745.90
Australia and Oceania,East Timor,Meat,Online,L,7/31/2012,322067916,9/11/2012,5908,421.89,364.69,2492526.12,2154588.52,337937.60
Europe,Norway,Baby Food,Online,L,5/14/2014,819028031,6/28/2014,7450,255.28,159.42,1901836.00,1187679.00,714157.00
Europe,Portugal,Baby Food,Online,H,7/31/2015,860673511,9/3/2015,1273,255.28,159.42,324971.44,202941.66,122029.78
Central America and the Caribbean,Honduras,Snacks,Online,L,6/30/2016,795490682,7/26/2016,2225,152.58,97.44,339490.50,216804.00,122686.50
Australia and Oceania,New Zealand,Fruits,Online,H,9/8/2014,142278373,10/4/2014,2187,9.33,6.92,20404.71,15134.04,5270.67
Europe,Moldova,Personal Care,Online,L,5/7/2016,740147912,5/10/2016,5070,81.73,56.67,414371.10,287316.90,127054.20
Europe,France,Cosmetics,Online,H,5/22/2017,898523128,6/5/2017,1815,437.20,263.33,793518.00,477943.95,315574.05
Australia and Oceania,Kiribati,Fruits,Online,M,10/13/2014,347140347,11/10/2014,5398,9.33,6.92,50363.34,37354.16,13009.18
Sub-Saharan Africa,Mali,Fruits,Online,L,5/7/2010,686048400,5/10/2010,5822,9.33,6.92,54319.26,40288.24,14031.02
Europe,Norway,Beverages,Offline,C,7/18/2014,435608613,7/30/2014,5124,47.45,31.79,243133.80,162891.96,80241.84
Sub-Saharan Africa,The Gambia,Household,Offline,L,5/26/2012,886494815,6/9/2012,2370,668.27,502.54,1583799.90,1191019.80,392780.10
Europe,Switzerland,Cosmetics,Offline,M,9/17/2012,249693334,10/20/2012,8661,437.20,263.33,3786589.20,2280701.13,1505888.07
Sub-Saharan Africa,South Sudan,Personal Care,Offline,C,12/29/2013,406502997,1/28/2014,2125,81.73,56.67,173676.25,120423.75,53252.50
Australia and Oceania,Australia,Office Supplies,Online,C,10/27/2015,158535134,11/25/2015,2924,651.21,524.96,1904138.04,1534983.04,369155.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Asia,Turkmenistan,Office Supplies,Online,M,4/23/2013,462405812,5/20/2013,5010,651.21,524.96,3262562.10,2630049.60,632512.50
Middle East and North Africa,Libya,Fruits,Online,L,8/14/2015,816200339,9/30/2015,673,9.33,6.92,6279.09,4657.16,1621.93
Sub-Saharan Africa,Democratic Republic of the Congo,Beverages,Online,C,5/26/2011,585920464,7/15/2011,5741,47.45,31.79,272410.45,182506.39,89904.06
Sub-Saharan Africa,Djibouti,Cereal,Online,H,5/20/2017,555990016,6/17/2017,8656,205.70,117.11,1780539.20,1013704.16,766835.04
Middle East and North Africa,Pakistan,Cosmetics,Offline,L,7/5/2013,231145322,8/16/2013,9892,437.20,263.33,4324782.40,2604860.36,1719922.04
North America,Mexico,Household,Offline,C,11/6/2014,986435210,12/12/2014,6954,668.27,502.54,4647149.58,3494663.16,1152486.42
Australia and Oceania,Federated States of Micronesia,Beverages,Online,C,10/28/2014,217221009,11/15/2014,9379,47.45,31.79,445033.55,298158.41,146875.14
Asia,Laos,Vegetables,Offline,C,9/15/2011,789176547,10/23/2011,3732,154.06,90.93,574951.92,339350.76,235601.16
Europe,Monaco,Baby Food,Offline,H,5/29/2012,688288152,6/2/2012,8614,255.28,159.42,2198981.92,1373243.88,825738.04
Australia and Oceania,Samoa,Cosmetics,Online,H,7/20/2013,670854651,8/7/2013,9654,437.20,263.33,4220728.80,2542187.82,1678540.98
Europe,Spain,Household,Offline,L,10/21/2012,213487374,11/30/2012,4513,668.27,502.54,3015902.51,2267963.02,747939.49
Middle East and North Africa,Lebanon,Clothes,Online,L,9/18/2012,663110148,10/8/2012,7884,109.28,35.84,861563.52,282562.56,579000.96
Middle East and North Africa,Iran,Cosmetics,Online,H,11/15/2016,286959302,12/8/2016,6489,437.20,263.33,2836990.80,1708748.37,1128242.43
Sub-Saharan Africa,Zambia,Snacks,Online,L,1/4/2011,122583663,1/5/2011,4085,152.58,97.44,623289.30,398042.40,225246.90
Sub-Saharan Africa,Kenya,Vegetables,Online,L,3/18/2012,827844560,4/7/2012,6457,154.06,90.93,994765.42,587135.01,407630.41
North America,Mexico,Personal Care,Offline,L,2/17/2012,430915820,3/20/2012,6422,81.73,56.67,524870.06,363934.74,160935.32
Sub-Saharan Africa,Sao Tome and Principe,Beverages,Offline,C,1/16/2011,180283772,1/21/2011,8829,47.45,31.79,418936.05,280673.91,138262.14
Sub-Saharan Africa,The Gambia,Baby Food,Offline,M,2/3/2014,494747245,3/20/2014,5559,255.28,159.42,1419101.52,886215.78,532885.74
Middle East and North Africa,Kuwait,Fruits,Online,M,4/30/2012,513417565,5/18/2012,522,9.33,6.92,4870.26,3612.24,1258.02
Europe,Slovenia,Beverages,Offline,C,10/23/2016,345718562,11/25/2016,4660,47.45,31.79,221117.00,148141.40,72975.60
Sub-Saharan Africa,Sierra Leone,Office Supplies,Offline,H,12/6/2016,621386563,12/14/2016,948,651.21,524.96,617347.08,497662.08,119685.00
Australia and Oceania,Australia,Beverages,Offline,H,7/7/2014,240470397,7/11/2014,9389,47.45,31.79,445508.05,298476.31,147031.74
Middle East and North Africa,Azerbaijan,Office Supplies,Online,M,6/13/2012,423331391,7/24/2012,2021,651.21,524.96,1316095.41,1060944.16,255151.25
Europe,Romania,Cosmetics,Online,H,11/26/2010,660643374,12/25/2010,7910,437.20,263.33,3458252.00,2082940.30,1375311.70
Central America and the Caribbean,Nicaragua,Beverages,Offline,C,2/8/2011,963392674,3/21/2011,8156,47.45,31.79,387002.20,259279.24,127722.96
Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [116]:
#df_file.dropna(axis=1) #removes columns containing null values

In [117]:
total_cost = df_file['total cost']
total_cost

Region
Australia and Oceania                1582243.50
Central America and the Caribbean     328376.44
Europe                                933903.84
Sub-Saharan Africa                     56065.84
Sub-Saharan Africa                   2657347.52
Australia and Oceania                 474115.08
Sub-Saharan Africa                   2104134.98
Sub-Saharan Africa                    734896.26
Sub-Saharan Africa                    343986.90
Sub-Saharan Africa                    772106.23
Asia                                   11275.32
Sub-Saharan Africa                          NaN
Asia                                  296145.92
Central America and the Caribbean    4509793.96
Asia                                  277739.67
Europe                                 59960.32
Asia                                 1830670.16
Sub-Saharan Africa                    172619.70
Asia                                 1924728.20
Australia and Oceania                2154588.52
Europe                               1187679.00
Europe                                202941.66
Central America and the Caribbean     216804.00
Australia and Oceania                  15134.04
Europe                                287316.90
Europe                                477943.95
Australia and Oceania                  37354.16
Sub-Saharan Africa                     40288.24
Europe                                162891.96
Sub-Saharan Africa                   1191019.80
                                        ...
Asia                                 2630049.60
Middle East and North Africa            4657.16
Sub-Saharan Africa                    182506.39
Sub-Saharan Africa                   1013704.16
Middle East and North Africa         2604860.36
North America                        3494663.16
Australia and Oceania                 298158.41
Asia                                  339350.76
Europe                               1373243.88
Australia and Oceania                2542187.82
Europe                               2267963.02
Middle East and North Africa          282562.56
Middle East and North Africa         1708748.37
Sub-Saharan Africa                    398042.40
Sub-Saharan Africa                    587135.01
North America                         363934.74
Sub-Saharan Africa                    280673.91
Sub-Saharan Africa                    886215.78
Middle East and North Africa            3612.24
Europe                                148141.40
Sub-Saharan Africa                    497662.08
Australia and Oceania                 298476.31
Middle East and North Africa         1060944.16
Europe                               2082940.30
Central America and the Caribbean     259279.24
Sub-Saharan Africa                     31825.92
Asia                                   43367.64
Sub-Saharan Africa                    135031.05
North America                         326815.89
Sub-Saharan Africa                   2697132.18
Name: total cost, Length: 100, dtype: float64

In [118]:
#Calculate mean of column total cost
total_cost_mean = total_cost.mean()
total_cost_mean

939708.9776767676

In [119]:
#Fill the nulls using mean
total_cost.fillna(total_cost_mean, inplace=True)

In [120]:
#verify that total_cost doesn't have null value
df_file.isnull().sum()

countryname       0
item type         0
sales channel     0
order priority    0
order date        0
order id          0
ship date         2
units sold        0
unit price        0
unit cost         0
total revenue     0
total cost        0
total profit      0
dtype: int64

In [121]:
df_file.describe()
df_file['countryname'].describe() #top value of a given column

count            100
unique            76
top       The Gambia
freq               4
Name: countryname, dtype: object

In [122]:
#frequency of values in a column
df_file['countryname'].value_counts().head()

The Gambia      4
Mexico          3
Sierra Leone    3
Djibouti        3
Australia       3
Name: countryname, dtype: int64

In [123]:
#Relationship between continous variables using correlation method
#Positive and negavtive correlation.
#Posiitve correlation between two variables indicates that if one variable goes up, the other goes up as well.
#Negative correlation between two variables indicates that if one variables goes up, the other goes down.
df_file.corr()

,order id,units sold,unit price,unit cost,total revenue,total cost,total profit
order id,1.000000,-0.222907,-0.190941,-0.213201,-0.314688,-0.318919,-0.234638
units sold,-0.222907,1.000000,-0.070486,-0.092232,0.447784,0.373207,0.564550
unit price,-0.190941,-0.070486,1.000000,0.987270,0.752360,0.784759,0.557365
unit cost,-0.213201,-0.092232,0.987270,1.000000,0.715623,0.770873,0.467214
total revenue,-0.314688,0.447784,0.752360,0.715623,1.000000,0.981910,0.897327
total cost,-0.318919,0.373207,0.784759,0.770873,0.981910,1.000000,0.803954
total profit,-0.234638,0.564550,0.557365,0.467214,0.897327,0.803954,1.000000

In [124]:
#Slicing, Extracting and Selecting data

get_col = df_file['total revenue']
type(get_col) #Gives a pandas series

pandas.core.series.Series

In [125]:
get_col2 = df_file[['total revenue']] #Passing a list of column, which will get pandas DataFrame
type(get_col2) #Gives a pandas DataFrame

pandas.core.frame.DataFrame

In [126]:
get_others = df_file[['order id', 'unit price', 'total profit']]
get_others.head()

                                    order id  unit price  total profit
Region
Australia and Oceania              669165933      255.28     951410.50
Central America and the Caribbean  963881480      205.70     248406.36
Europe                             341417157      651.21     224598.75
Sub-Saharan Africa                 514321792        9.33      19525.82
Sub-Saharan Africa                 115456712      651.21     639077.50

In [127]:
#Getting data by rows using
# .loc locates by name
# .iloc locates based on index value

data_europe = get_others.loc['Europe']
data_europe

         order id  unit price  total profit
Region
Europe  341417157      651.21     224598.75
Europe  972292029      109.28     122865.12
Europe  819028031      255.28     714157.00
Europe  860673511      255.28     122029.78
Europe  740147912       81.73     127054.20
Europe  898523128      437.20     315574.05
Europe  435608613       47.45      80241.84
Europe  249693334      437.20    1505888.07
Europe  189965903      651.21     503358.75
Europe  759224212      154.06      10795.23
Europe  331438481      437.20    1541705.29
Europe  617667090       81.73       6841.38
Europe  787399423      109.28     575916.48
Europe  385383069      109.28     166635.36
Europe  868214595      437.20     495007.89
Europe  955357205      668.27      46735.86
Europe  569662845      255.28     455335.00
Europe  166460740      651.21    1046233.75
Europe  688288152      255.28     825738.04
Europe  213487374      668.27     747939.49
Europe  345718562       47.45      72975.60
Europe  660643374      437.20    1375311.70

In [128]:
data_by_index = df_file.iloc[1:4] #Example of slicing
data_by_index

,countryname,item type,sales channel,order priority,order date,order id,ship date,units sold,unit price,unit cost,total revenue,total cost,total profit
Region,,,,,,,,,,,,,
Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82

In [129]:
#Conditional selection of data

data_conditional = df_file[df_file['countryname'] == "Russia"] #Select dataframe where countryname is Russian
data_conditional.head()

,countryname,item type,sales channel,order priority,order date,order id,ship date,units sold,unit price,unit cost,total revenue,total cost,total profit
Region,,,,,,,,,,,,,
Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75

In [130]:
data_conditional2 = df_file[df_file['total revenue'] >= 5000000 ].head()
data_conditional2

,countryname,item type,sales channel,order priority,order date,order id,ship date,units sold,unit price,unit cost,total revenue,total cost,total profit
Region,,,,,,,,,,,,,
Central America and the Caribbean,Honduras,Household,Offline,H,2/8/2017,522840487,2/13/2017,8974,668.27,502.54,5997054.98,4509793.96,1487261.02
Asia,Myanmar,Household,Offline,H,1/16/2015,177713572,3/1/2015,8250,668.27,502.54,5513227.50,4145955.00,1367272.50
Europe,Lithuania,Office Supplies,Offline,H,10/24/2010,166460740,11/17/2010,8287,651.21,524.96,5396577.27,4350343.52,1046233.75

In [131]:
#checking & or | condition
df_file[(df_file['countryname'] == 'Lithuania') & (df_file['units sold'] >= 500)]

,countryname,item type,sales channel,order priority,order date,order id,ship date,units sold,unit price,unit cost,total revenue,total cost,total profit
Region,,,,,,,,,,,,,
Europe,Lithuania,Office Supplies,Offline,H,10/24/2010,166460740,11/17/2010,8287,651.21,524.96,5396577.27,4350343.52,1046233.75

In [132]:
# checking in condition
df_file[df_file['countryname'].isin(['Russia', 'Myanmar', 'Belgium'])].head()

,countryname,item type,sales channel,order priority,order date,order id,ship date,units sold,unit price,unit cost,total revenue,total cost,total profit
Region,,,,,,,,,,,,,
Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
Asia,Myanmar,Household,Offline,H,1/16/2015,177713572,3/1/2015,8250,668.27,502.54,5513227.50,4145955.00,1367272.50
Asia,Myanmar,Clothes,Online,H,11/14/2015,223359620,11/18/2015,5930,109.28,35.84,648030.40,212531.20,435499.20

In [133]:
#Applying functions to dataset


def rating_sales(x):
    if x >= 5000:
        return 'Good'
    else:
        return 'Poor'
    

df_file['sales performance'] = df_file['units sold'].apply(rating_sales)
#Apply function passes every value from 'units sold' column to rating_sales function and the result is then returned as a series.
# This series is then assigned to a new column called 'sales performance'

#Apply function will be much faster than iterating manually over rows because pandas does it via vectorization.

df_file.head()

,countryname,item type,sales channel,order priority,order date,order id,ship date,units sold,unit price,unit cost,total revenue,total cost,total profit,sales performance
Region,,,,,,,,,,,,,,
Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,NaN,9925,255.28,159.42,2533654.00,1582243.50,951410.50,Good
Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36,Poor
Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75,Poor
Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82,Good
Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,NaN,5062,651.21,524.96,3296425.02,2657347.52,639077.50,Good